<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
        xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
        xmlns:pm="http://primefaces.org/mobile">
<f:view renderKitId="PRIMEFACES_MOBILE" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<h:head>
        <title>Creación de QR</title> 
</h:head>
<h:body>
    <pm:page id="bascula">
        <pm:header>
            Proporcione datos
        </pm:header>
        <pm:content>
            <p:panel>
                <h:form id="indexForm"> 
                    <p:graphicImage value="logo.png" width="50"  height="50"/> 
                    <p:growl id="growl" showDetail="true" sticky="true" /> 
                    <h:panelGrid columns="2" >
                        
                        <p:outputLabel  value="Numero de Celular: "  style="font-weight: bold"/>
                        <p:inputMask  value="#{checkController.check.numero}"  mask="(999) 999-9999"/>
                        
						 
                        <p:outputLabel   value="Monto $: "  style="font-weight: bold"/>
			<p:inputNumber  value="#{checkController.check.monto}" 
                                       requiredMessage="El campo es requerido"
                                       minValue="0.01" 
                                       maxValue="999999999.99" />  
                        
                        <p:outputLabel  value="Concepto: "   style="font-weight: bold"/>
                        <p:inputText   value="#{checkController.check.concepto}"  />  
                    </h:panelGrid>
                    <p:commandButton value="Crear QR" ajax="false" icon="ui-icon-contact"
                                    action="#{checkController.crear(checkController.check)}"  /> 
                </h:form>
            </p:panel>
        </pm:content> 
    </pm:page>
</h:body>
</html>
