<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
        xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
        xmlns:pm="http://primefaces.org/mobile">
<f:view renderKitId="PRIMEFACES_MOBILE" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<h:head>
        <title>Creación de QR</title> 
</h:head>
<h:body>
    <pm:page id="bascula">
        <pm:header>
            Informacion de datos del QR
        </pm:header>
        <pm:content>
            <p:panel>
                <h:form id="indexForm">
                    <p:graphicImage value="logo.png" width="50"  height="50"/> 
                    <h:panelGrid columns="2" >
                        
                        <p:outputLabel  value="Numero de Celular: "  style="font-weight: bold"/>
                        <p:outputLabel  value="#{qRController.check.numero}"  /> 
                        
                        <p:outputLabel   value="Monto $: "  style="font-weight: bold"/>
                         <p:outputLabel   value="#{qRController.check.monto}"  />
                         
                          
                        <p:outputLabel  value="Concepto: "   style="font-weight: bold"/>
                        <p:outputLabel  value="#{qRController.check.concepto}"   />
                        
                        <p:outputLabel  value="Nombre Benficiario: "   style="font-weight: bold"/>
                        <p:outputLabel  value="Juan Perez Perez"   />
                        
                         <p:outputLabel  value="Cuenta Beneficiario: "  style="font-weight: bold"/>
                        <p:outputLabel  value="27 5478 1982"  /> 
                        
                        <p:outputLabel   value="Banco  Beneficiario: "  style="font-weight: bold"/>
                         <p:outputLabel   value="Bancomer BBVA"  />
                         
                          
                        
                    </h:panelGrid>

                    <p:commandButton value="Regresar" ajax="false" icon="ui-icon-contact"
                                    action="#{recepcionMB.regresa()}"  />
                </h:form>
            </p:panel>
        </pm:content> 
    </pm:page>
</h:body>
</html>
