<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
        xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
        xmlns:pm="http://primefaces.org/mobile">
<f:view renderKitId="PRIMEFACES_MOBILE" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<h:head>
        <title>Creación de QR</title> 
</h:head>
<h:body>
    <pm:page id="regEditar">
        <pm:header>
            QR 
        </pm:header>
        <pm:content>
            <p:graphicImage value="stp.gif" width="50"  height="50"/> 
            <p:panel id="regEdicion"> 
                <h:form id="editForm">  
                    <h:panelGrid columns="2" > 
                        <p:barcode value="#{recepcionMB.url}" type="qr" width="200" height="200" />
                    </h:panelGrid> 
                    <p:commandButton value="Regresar" ajax="false" icon="ui-icon-contact"
                                    action="#{recepcionMB.regresa()}"  /> 
                </h:form>
            </p:panel>
        </pm:content> 
    </pm:page>
	
</h:body>|
</html>
